<link rel="stylesheet" href="/css/home.css">
<section id="home-page-container">
    <div id="product-container">
        <% for(var i of products){  %>
            <div id="product-box">
                <a href="/products/<%= i._id %>">
                    <img src="<%= i.avatar %>" alt="<%= i.name %>" width="150" height="200">
                </a>
                
                
                <span style="padding-left:4%;"><%= i.name %></span><br>
                <span style="padding-left:4%;">Rs <%= i.price %></span>
                <% if(locals.user){ %>
                    <span id="cart-symbol"><a href="/users/cart/<%= i._id %>">
                    
                        <button style="background-color:rgb(52,130,195); margin-top:14px; padding-top:10px;">Add to Cart<i class="fas fa-shopping-cart"></i></button>
                        
                    </a>
                    </span>
                <% }else{ %>
                    <span id="cart-symbol"><a href="/users/sign-in">
                        <button>Add to Cart<i class="fas fa-shopping-cart"></i></button>
                    </a></span>
                <% } %>
                <!-- <%= i.description %> -->
                <!-- <%= i.type %> -->
                <!-- <%= i.subtype %> -->
                <!-- <%= i.manufacturer %> -->
                <!-- <%= i.stock %> -->
            </div>
        <% } %>
    </div>
</section>
<script src="/js/home_cart_symbol.js"></script>